a:link {
  color: black;
}


a:visited {
  color: black;
}


a:hover {
  color: red;
}


a:active {
  color: darkred;
  }
img{border-radius: 15px}

img:hover {
  opacity: 0.8;
}
img {
  opacity: 1;
  cursor: pointer;
}